body
{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
}

a
{
	color: #000000;
	font-weight: 400;
}

.bold
{
	font-weight: 400;
}

a:hover, a:focus
{
	color: #dc3545;
	text-decoration: none;
}

.bg-danger small a
{
	font-weight: 100;
	color: #fff;
}

.bg-danger small a:hover,
.bg-danger small a:focus
{
	font-weight: 400;
}

.page-header
{
	font-weight: 400 !important;
}

.page-title
{
	font-weight: 100;
}

h4, h2, small
{
	font-weight: 100;
}

.loader
{
	position:fixed;
	background: rgba(255, 255, 255, 1);
	height: 100vh;
	width: 100vw;
	z-index: 10;
	top: 0;
}

.loader img
{
	position: absolute;
	transform: translate( -50%, -50% );
	left: 50%;
	top: 50%;
	height: 10vw;
	filter: contrast(0.7);
	filter: brightness(1.25);
	
}

.form-control:focus
{
	border-color: red;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.card, .card-header
{
	border-color: rgba(0,0,0,0.35);
}

.card-menu .card:hover
{
	background:#2c2c2c;
	
}

.card-menu .border-danger:hover
{
	border-color: #2c2c2c !important;
}

.card-menu .card:hover .card-title,
.card-menu .card:hover .card-text
{
	color: #fff;
}


.big-input .form-control,
.big-input .input-group-addon
{
	font-weight: 100;
	text-align: center;
	font-size: 3em;
	border: none;
}

.big-input .input-group-addon
{
	background: transparent;
}


.card-header.active
{
	background:#dc3545;
	color: #fff;
}

.scroll
{
	background: #efefef;
	padding: 1rem;
	max-height: 85vh;
	overflow-y: scroll;
	border: solid 1px #999;
	border-right: none;
}

.scroll-2
{
	max-height: 45vh;
	overflow-y: scroll;
}

td a
{
	color: #dc3545;
}


.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #dc3545;
}


.input-group.minimal .input-group-addon
{
	background:transparent;
	border: none;
}

.input-group.minimal input
{
	/* border: none; */
	text-align: center;
}

.thead-inverse th
{
	background: rgb(220, 53, 69);
	padding-top: 0;
	padding-bottom: 0;
}

a.card-link
{
	
}